/CMakeFiles
/build*/*
/examples/hello_world/build
/.settings
/doc
/daemon/CMakeFiles
/examples/CMakeFiles
/implementation/configuration/include/internal.hpp
/test/application_tests/application_test.json
/test/application_tests/application_test_daemon.json
/test/application_tests/application_test_no_dispatch_threads.json
/test/application_tests/application_test_no_dispatch_threads_daemon.json
/test/big_payload_tests/big_payload_test_tcp_client.json
/test/big_payload_tests/big_payload_test_tcp_service.json
/test/big_payload_tests/big_payload_test_tcp_client_random.json
/test/big_payload_tests/big_payload_test_tcp_service_random.json
/test/big_payload_tests/big_payload_test_tcp_client_limited_general.json
/test/big_payload_tests/big_payload_test_tcp_service_limited_general.json
/test/big_payload_tests/big_payload_test_tcp_client_queue_limited_general.json
/test/big_payload_tests/big_payload_test_tcp_client_queue_limited_specific.json
/test/big_payload_tests/big_payload_test_tcp_service_queue_limited_general.json
/test/big_payload_tests/big_payload_test_tcp_service_queue_limited_specific.json
/test/magic_cookies_tests/magic_cookies_test_client.json
/test/magic_cookies_tests/magic_cookies_test_service.json
/test/payload_tests/external_local_payload_test_client_external.json
/test/payload_tests/external_local_payload_test_client_local.json
/test/payload_tests/external_local_payload_test_service.json
/test/routing_tests/external_local_routing_test_client_external.json
/test/routing_tests/external_local_routing_test_service.json
/test/routing_tests/local_routing_test_starter.sh
/test/client_id_tests/client_id_test_diff_client_ids_diff_ports_master.json
/test/client_id_tests/client_id_test_diff_client_ids_diff_ports_slave.json
/test/client_id_tests/client_id_test_diff_client_ids_same_ports_master.json
/test/client_id_tests/client_id_test_diff_client_ids_same_ports_slave.json
/test/client_id_tests/client_id_test_diff_client_ids_partial_same_ports_master.json
/test/client_id_tests/client_id_test_diff_client_ids_partial_same_ports_slave.json
/test/client_id_tests/client_id_test_same_client_ids_diff_ports_master.json
/test/client_id_tests/client_id_test_same_client_ids_diff_ports_slave.json
/test/client_id_tests/client_id_test_same_client_ids_same_ports_master.json
/test/client_id_tests/client_id_test_same_client_ids_same_ports_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_master.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_same_ports_master.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_same_ports_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_partial_same_ports_master.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_partial_same_ports_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_same_client_ids_diff_ports_master.json
/test/subscribe_notify_tests/subscribe_notify_test_same_client_ids_diff_ports_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_same_client_ids_same_ports_master.json
/test/subscribe_notify_tests/subscribe_notify_test_same_client_ids_same_ports_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_one_event_two_eventgroups_master.json
/test/subscribe_notify_tests/subscribe_notify_test_one_event_two_eventgroups_udp_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_one_event_two_eventgroups_tcp_slave.json
/test/subscribe_notify_one_tests/subscribe_notify_one_test_diff_client_ids_diff_ports_master.json
/test/subscribe_notify_one_tests/subscribe_notify_one_test_diff_client_ids_diff_ports_slave.json
/test/subscribe_notify_one_tests/subscribe_notify_one_test_diff_client_ids_diff_ports_master_tcp.json
/test/subscribe_notify_one_tests/subscribe_notify_one_test_diff_client_ids_diff_ports_slave_tcp.json
/test/subscribe_notify_one_tests/subscribe_notify_one_test_diff_client_ids_diff_ports_master_udp.json
/test/subscribe_notify_one_tests/subscribe_notify_one_test_diff_client_ids_diff_ports_slave_udp.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_same_service_id_master.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_same_service_id_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_master_tcp.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_slave_tcp.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_same_ports_master_tcp.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_same_ports_slave_tcp.json
/test/cpu_load_tests/cpu_load_test_client_slave.json
/test/cpu_load_tests/cpu_load_test_client_master.json
/test/cpu_load_tests/cpu_load_test_service_slave.json
/test/cpu_load_tests/cpu_load_test_service_master.json
/tools/CMakeFiles
/test/initial_event_tests/initial_event_test_diff_client_ids_diff_ports_master.json
/test/initial_event_tests/initial_event_test_diff_client_ids_diff_ports_same_service_id_master.json
/test/initial_event_tests/initial_event_test_diff_client_ids_diff_ports_same_service_id_slave.json
/test/initial_event_tests/initial_event_test_diff_client_ids_diff_ports_slave.json
/test/initial_event_tests/initial_event_test_diff_client_ids_partial_same_ports_master.json
/test/initial_event_tests/initial_event_test_diff_client_ids_partial_same_ports_slave.json
/test/initial_event_tests/initial_event_test_diff_client_ids_same_ports_master.json
/test/initial_event_tests/initial_event_test_diff_client_ids_same_ports_slave.json
/test/initial_event_tests/initial_event_test_same_client_ids_diff_ports_master.json
/test/initial_event_tests/initial_event_test_same_client_ids_diff_ports_slave.json
/test/initial_event_tests/initial_event_test_same_client_ids_same_ports_master.json
/test/initial_event_tests/initial_event_test_same_client_ids_same_ports_slave.json
/test/initial_event_tests/initial_event_test_diff_client_ids_diff_ports_master_tcp.json
/test/initial_event_tests/initial_event_test_diff_client_ids_diff_ports_slave_tcp.json
/test/initial_event_tests/initial_event_test_diff_client_ids_same_ports_master_tcp.json
/test/initial_event_tests/initial_event_test_diff_client_ids_same_ports_slave_tcp.json
/test/offer_tests/offer_test_external_master.json
/test/offer_tests/offer_test_external_slave.json
/test/offer_tests/offer_test_external_master_starter.sh
/test/offer_tests/offer_test_big_sd_msg_master_starter.sh
/test/offer_tests/offer_test_big_sd_msg_master.json
/test/offer_tests/offer_test_big_sd_msg_slave.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_autoconfig_master.json
/test/subscribe_notify_tests/subscribe_notify_test_diff_client_ids_diff_ports_autoconfig_slave.json
test/security_tests/security_test_config_client_external_allow.json
test/security_tests/security_test_config_client_external_deny.json
test/security_tests/security_test_config_service_external_allow.json
test/security_tests/security_test_config_service_external_deny.json
test/security_tests/security_test_local_config.json
/test/pending_subscription_tests/pending_subscription_test_master.json
/test/pending_subscription_tests/pending_subscription_test_master_starter.sh
/test/malicious_data_tests/malicious_data_test_master.json
/test/malicious_data_tests/malicious_data_test_master_starter.sh
/test/debug_diag_job_plugin_tests/debug_diag_job_plugin_test_master.json
/test/debug_diag_job_plugin_tests/debug_diag_job_plugin_test_slave.json
/test/security_config_plugin_tests/security_config_plugin_test_local.json
/test/e2e_tests/e2e_test_client_external.json
/test/e2e_tests/e2e_test_service_external.json
/test/event_tests/event_test_master.json
/test/event_tests/event_test_slave_tcp.json
/test/event_tests/event_test_slave_udp.json

