name: Upload Release Asset

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Version Info
        run: |
          # Replace VSOMEIP_GEN_VERSION in BUILD files with the git tag
          VERSION="${GITHUB_REF_NAME#refs/tags/}"
          echo "Updating VSOMEIP_GEN_VERSION to ${VERSION} in BUILD"
          sed -i "s/VSOMEIP_GEN_VERSION = \".*\"/VSOMEIP_GEN_VERSION = \"${VERSION//\"}\"/" implementation/BUILD  

      - name: Create Tarball
        run: tar --exclude=.git -czf /tmp/${{ github.ref_name }}.tar.gz ./

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: /tmp/${{ github.ref_name }}.tar.gz
          draft: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
